.DS_Store
img/.DS_Store

# Imagens não usadas no site
img/AdobeStock_*
img/freepik__create-*
img/freepik__enhance-the-cinematic-feel-of-this-shot__59587.png
img/freepik__enhance-the-cinematic-feel-on-this-photo__34303.png
img/freepik__enhance-the-cinematic-feel-on-this-photo__34304.png
img/freepik__enhance-the-cinematic-feel-on-this-photo__37654.png
img/freepik__enhance-the-cinematic-feel-on-this-photo__59586.png
img/freepik__enhance-the-cinematic-feel-on-this-photo__59588.png
img/freepik__enhance-the-cinematic-feel-on-this-photo__91290.png
img/freepik__enhance-the-cinematic-feeling-*
img/freepik__enhance__*
img/freepik__generate-*
img/freepik__photo-*
img/freepik__recreate-*
img/freepik__upgrade-*
img/HORIZONTE*
img/IMG_0946.jpg
img/IMG_0985.jpg
img/IMG_1019.jpg
img/IMG_1027.jpg
img/IMG_1076.jpg
img/IMG_1086.jpg
img/IMG_1089.jpg
img/IMG_1122.jpg
img/IMG_1155.jpg
img/IMG_1164.jpg
img/IMG_1165.jpg
img/IMG_1166.jpg
